<div class="quiz quiz--group2">
  <table class="quiz--table">
    <tr>
    <td class="question"><b>Б2.6. </b>Затраты на оплату труда и начисления на выплаты 
        по оплате труда работников организации, которые не принимают непосредственного 
        участия в оказании государственной услуги (административно- управленческого 
        и вспомогательного персонала), включая страховые взносы в Пенсионный фонд 
        Российской Федерации, Фонд социального страхования Российской Федерации и 
        Фонд обязательного медицинского страхования Российской Федерации, а также на 
        обязательное социальное страхование от несчастных случаев на производстве и 
        профессиональных заболеваний</td>
    <td class="data">
      <table>
        <tr tr-data-value name="доля АУП в общей численности работников на 2016 г. 
            по «Дорожной карте», %" value="39"></tr>
        <tr tr-data-value name="число учащихся в расчете на 1 педагогического 
            работника на 2016 г. по «Дорожной карте»" value="12,3"></tr>
        <tr tr-data-value name="норматив на оплату труда основного персонала п.1.1." value="23 969,16"></tr>
        <tr tr-data-value name="доля фонда оплаты труда АУП в общем фонде работников, % 
            (экспертная оценка на основе Письма Минобрнауки РФ от 13.09.2006 
            <span class='nowrap'>№ АФ-213/03</span> (п.3.4.))" value="30"></tr>
      </table>
    </td> 
    <td class="comment">
        <table>
            <tr><td colspan="2" style="text-align:center"> 
                $$ 39/\text"12,3 × (100 - 39)" × \text"23 969,16" × 30/\text"100 - 30" =$$ 
            </td></tr>
        </table>
    </td>
    <td class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz26result" disabled>
    </td>
    </tr>
  </table>
</div>