<div class="quiz quiz--group1">
  <table class="quiz--table">
    <tr>
    <td class="question"><b>Б1.3. </b>Затраты на приобретение учебной литературы, периодических изданий, 
        издательских и полиграфических услуг, электронных изданий, непосредственно связанных 
        с оказанием государственной услуги</td>
    <td class="data">
      <table>
        <tr tr-data-value name="число учебников для 1 учащегося" value="17,20"></tr>
        <tr tr-data-value name="средняя цена учебника для основной школы по расценкам издательств в г. Москва, 
            приведённым к средним ценам по РФ, рублей" value="615,95"></tr>
        <tr tr-data-value name="срок полезного использования, лет" value="5"></tr>
      </table>
    </td> 
    <td class="comment">
        <table>
            <tr><td colspan="2" style="text-align:center"> $$\text"17,20 × 615,95"/5 =$$ </td></tr>
        </table>
    </td>
    <td class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz13result" disabled>
    </td>
    </tr>
  </table>
</div>