<div class="quiz quiz--group1">
  <table class="quiz--table">
    <tr>
    <td class="question"><b>Б1.2. </b>Затраты на приобретение материальных запасов и особо ценного движимого имущества, 
        потребляемых (используемых) в процессе оказания государственной услуги</td>
    <td class="data">
      <table>
        <tr tr-data-value name="стоимость комплекта средств обучения, рассчитанная 
            на основе письма Минобрнауки РФ от 24.11.2011 
            <span class='nowrap'>№ МД-1552/03</span>, 
            по ценам на однородные товары из ЕМИСС, 
            по Республике Ингушетия) и ценам поставщиков в г. Москва, 
            приведённым к средним ценам по РФ, рублей" value="4 279 980"></tr>
        <tr tr-data-value name="кабинеты трудового обучения 
            (24.11.2011 <span class='nowrap'>№ МД-1552/03)</span>" value="1 959 369"></tr>
        <tr tr-data-value name="кабинеты изобразительного искусства и черчения (24.11.2011 
            <span class='nowrap'>№ МД-1552/03</span>)" value="269 746"></tr>
        <tr tr-data-value name="стоимость цифровых образовательные ресурсов начальной школы, рассчитанных 
            на основе письма Минобрнауки РФ от 24.11.2011 <span class='nowrap'>№ МД-1552/03</span>, по ценам 
            на однородные товары из ЕМИСС, по Республике Ингушетия) и ценам поставщиков в г. Москва, 
            приведённым к средним ценам по РФ, рублей" value="129 444"></tr>
        <tr tr-data-value name="тоимость комплекта технологического оборудования, рассчитанная на основе письма 
            Минобрнауки РФ от 24.11.2011 <span class='nowrap'>№ МД-1552/03</span>, по ценам на однородные 
            товары из ЕМИСС, по Республике Ингушетия) и ценам поставщиков в г. Москва, приведённым к средним 
            ценам по РФ, рублей" value="126 041"></tr>
        <tr tr-data-value name="стоимость комплекта средств обучения для спортивного зала, рассчитанная 
            на основе письма Минобрнауки России от 16.05.2012 <span class='nowrap'>№ МД-520/19)</span>, по ценам 
            поставщиков в г. Москва, приведённым к средним ценам по РФ" value="701 033"></tr>
        <tr tr-data-module name="число учащихся основной школы" value="qtSecSchool"></tr>
        <tr tr-data-module name="число учащихся 1-11 классов" value="qtAllSchool"></tr>
        <tr tr-data-value name="срок полезного использования, лет" value="7"></tr>
      </table>
    </td> 
    <td class="comment">
        <table>
            <tr><td colspan="2" style="text-align:center">
                $$ \[\table \text"4 279 980 + 129 444 + 1 959 369 + 269 746"/
                                    {\bi\text"( {{qtSecSchool | number}} )" × 7} \text" +";
                               \text"126 041 + 701 033"/{\bi\text"( {{qtAllSchool | number}} )" × 7} \] =$$ </td></tr>
        </table>
    
    </td>
    <td style="padding-top:40px" class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz12result" disabled>
    </td>
    </tr>
  </table>
</div>