<div class="quiz quiz--group2">
  <table class="quiz--table">
    <tr>
    <td class="question"><b>Б2.2. </b>Затраты на содержание объектов недвижимого имущества 
    	(в том числе затраты на арендные платежи)</td>
    <td class="data">
      <table>
        <tr tr-data-value name="расчетная плановая сумма на текущий ремонт в расчете на учащегося, 
            экспертная оценка на основе данных по школам в Московской области" value="492,89"></tr>
        <tr tr-data-value name="минимальный размер оплаты труда в РФ, 
            Федеральный закон от 01.12.2014 <span class='nowrap'>№ 408-ФЗ</span>" value="5 965"></tr>
        <tr tr-data-value name="месяцев" value="12"></tr>
        <tr tr-data-value name="страховые взносы" value="1,302"></tr>
        <tr tr-data-value name="расчетная нормативная площадь прилегающей территории (кв.м) согласно 
            строительным правилам СП 118.13330.2012" value="6 967"></tr>
        <tr tr-data-value name="норма обслуживания территории дворником при механизированной уборке (кв.м), 
            согласно приказу Госстроя РФ от 09.12.1999 <span class='nowrap'>№ 139</span>, 
            таблица 9, пункт 2.2.1.14." value="5 250"></tr>
        <tr tr-data-value name="число учащихся 1-11 классов" value="625"></tr>
        <tr tr-data-value name="расчетная площадь помещений (кв.м). согласно строительным правилам 
            СП 118.13330.2012 и СанПиН 2.4.2.2821-10" value="7 459"></tr>
        <tr tr-data-value name="стоимость обслуживания и уборки помещений, рублей за кв.м в месяц 
            (ЕМИСС, по Респ. Ингушетия)" value="3,44"></tr>
        <tr tr-data-value name="средняя стоимость услуг по дезинфекции, дератизации, акарицидной обработке, 
            руб. за кв.м (ООО «Дезстанция &quot;Веста&quot;», <a href='http://www.dez-vesta.ru'>
            http://www.dez-vesta.ru</a>; ООО «Дез-сеть», 
            <a href='http://www.napoval.ru'>http://www.napoval.ru</a>; ООО «Агрокон», 
            <a href='http://pestcontrol.ru'>http://pestcontrol.ru</a>)" value="16,69"></tr>
        <tr tr-data-value name="вывоз мусора, в месяц, с человека (ЕМИСС, по Респ. Ингушетия)" value="10,18"></tr>
      </table>
    </td> 
    <td class="comment">
        <table>
            <tr><td colspan="2" style="text-align:center;"> 
                $$ \[\table \text"492,89"+\text"5 965 × 1,302 × 12 × 6 967"/\text"5 250 × 625" + ;
                            \text"7 459 × 3,44"/625 + \text"16,69 × 7 459"/625 + \text"10,18 × 12 × 625"/625 \] =$$ </td></tr>
        </table>
    </td>
    <td style="padding-top:40px" class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz22result" disabled>
    </td>
    </tr>
  </table>
</div>