<div class="quiz quiz--group1">
  <table class="quiz--table">
    <tr>
    <td class="question"><b>Б1.5. </b>Затраты на прохождение педагогическими работниками медицинских осмотров</td>
    <td class="data">
      <table>
        <tr tr-data-value name="стоимость периодических медицинских осмотров врачей согласно приказу Минздравсоцразвития РФ 
            от 12.04.2011 <span class='nowrap'>№ 302н</span> по ценам на первичный консультативный прием у врача 
            специалиста из ЕМИСС, по Республике Ингушетия" value="3 609"></tr>
        <tr tr-data-value name="число учащихся в расчете на 1 педагогического работника 
            на 2016 г. по «Дорожной карте»" value="12,3"></tr>
      </table>
    </td> 
    <td class="comment">
        <table>
            <tr><td colspan="2" style="text-align:center"> $$\text"3 609"/\text"12,3" =$$ </td></tr>
        </table>
    </td>
    <td class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz15result" disabled>
    </td>
    </tr>
  </table>
</div>