<div class="quiz quiz--group2">
  <table class="quiz--table">
    <tr>
    <td class="question"><b>Б2.8. </b>Приобретение материальных запасов 
        общехозяйственного назначения</td>
    <td class="data">
      <table>
        <tr tr-data-value name="стоимость канцтоваров на работника, Распоряжение 
            Минсоцзащиты МО от 15.12.2009 <span class='nowrap'>№ 41-Р</span> 
            Об утверждении норм потребления 
            товаров и услуг, необходимых для оказания государственных услуг 
            (выполнения работ) государственными бюджетными и автономными учреждениями 
            социального обслуживания" value="2 250"></tr>
        <tr tr-data-value name="стоимость комплекта расходных материалов для медицинского кабинета, рублей, 
            Приказ Минздрава России от 05.11.2013 <span class='nowrap'>№ 822н</span>, 
            экспертная оценка" value="15 510"></tr>
      </table>
    </td> 
    <td class="comment">
        <table>
            <tr><td colspan="2" style="text-align:center">
                $$\text"2 250"×(39/\text"12,3 × (100-39)"+1/\text"12,3")+\text"15 510"×1/625 =$$ </td></tr>
        </table>
    </td>
    <td class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz28result" disabled>
    </td>
    </tr>
  </table>
</div>