<div class="quiz quiz--group2">
  <table class="quiz--table">
    <tr>
    <td class="question"><b>Б2.4. </b>Затраты на приобретение услуг связи</td>
    <td class="data">
      <table>
        <tr tr-data-value name="тариф на местную телефонную связь (рублей в мес.), 
            (ЕМИСС, по РФ)" value="187,38"></tr>
        <tr tr-data-value name="месяцев" value="12"></tr>
        <tr tr-data-value name="рабочих дней" value="247"></tr>
        <tr tr-data-value name="минут междугородних переговоров" value="5"></tr>
        <tr tr-data-value name="тариф на междугородные телефонные разговоры, (рублей в мин.), 
            (ЕМИСС, по РФ)" value="4,89"></tr>
        <tr tr-data-value name="телефонных номера" value="2"></tr>
        <tr tr-data-value name="стоимость отправки телеграммы (рублей в), (ЕМИСС, по РФ)" value="78,75"></tr>
        <tr tr-data-value name="количество отправлений" value="50"></tr>
        <tr tr-data-value name="число учащихся 1-11 классов" value="625"></tr>
        <tr tr-data-value name="тариф на доступ к сети Интернет (рублей в мес.), тарифы (ЕМИСС, по РФ)" value="568"></tr>
        <tr tr-data-value name="канала доступа к сети Интернет" value="2"></tr>
        <tr tr-data-value name="тариф на услуги хостинга (в т.ч для поддержки сайта учреждения), рублей в месяц (
          ООО «Хостинг-Центр», <a href='https://hc.ru'>https://hc.ru</a>; 
          ОАО «Ростелеком», <a href='https://moscow.rt.ru'>https://moscow.rt.ru</a>; 
          ООО «Интернет хостинг центр», <a href='https://www.ihc.ru'>https://www.ihc.ru</a>)" value="208"></tr>
        <tr tr-data-value name="средняя стоимость обслуживания в системе электронного документооборота (
          ООО «Такском», <a href='http://taxcom-filer.ru'>http://taxcom-filer.ru</a>, 
          ООО «Элар», <a href='http://www.elar.ru'>http://www.elar.ru</a>; 
          ООО «Ланит», <a href='http://www.landocs.ru'>http://www.landocs.ru</a>)" value="7 189"></tr>
        <tr tr-data-value name="средняя стоимость бухгалтерской системы (
          ООО «1с», <a href='http://v8.1c.ru'>http://v8.1c.ru</a>, 
          ООО «Парус», <a href='http://www.parus.com'>http://www.parus.com</a>; 
          ООО «Контур», <a href='http://www.b-kontur.ru'>http://www.b-kontur.ru</a>)" value="8 758"></tr>
        <tr tr-data-value name="средняя стоимость справочно-правовой системы (
          ООО «КонсультантПлюс», <a href='http://www.consultant.ru'>http://www.consultant.ru</a>, 
          ООО «Гарант», <a href='http://www.garant.ru'>http://www.garant.ru</a>, 
          ООО «Кодекс», <a href='http://www.kodeks.ru'>http://www.kodeks.ru</a>)" value="9 062"></tr>
      </table>
    </td> 
    <td class="comment">
        <table>
            <tr><td colspan="2" style="text-align:center;"> 
                $$ \[\table \text"(187,38 × 12 + 247 × 5 × 4,89) × 2"/625 + \text"78,75 × 50"/625 +;
                        \text"568 × 12 × 2"/625 + \text"208 × 12"/200+\text"7 189"/625+\text"8 758+9 062"/625 \] =$$ </td></tr>
        </table>
    </td>
    <td style="padding-top:40px" class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz24result" disabled>
    </td>
    </tr>
  </table>
</div>